@using OrchardCore.ContentManagement

@{
	ContentItem contentItem = Model.ContentItem;
	Html.RenderPartial("_Header", contentItem.DisplayText);
	if (!User.IsInRole("Administrator"))
	{
		<div>Access denied</div>
	}
	else
	{
		<div class="col primary">
			@await DisplayAsync(Model.Content)
		</div>
	}
}
