@using OrchardCore.ContentManagement

@{
    ContentItem contentItem = Model.ContentItem;
}

<div class="row">
    <div class="col-md-6 mb-3">
        <label for="firstName">Ime</label>
        <input type="text" class="form-control" id="firstName" placeholder="" value="@contentItem.ContentItemId" required="">
        <div class="invalid-feedback">
            Valid first name is required.
        </div>
    </div>
    <div class="col-md-6 mb-3">
        <label for="lastName">Prezime</label>
        <input type="text" class="form-control" id="lastName" placeholder="" value="" required="">
        <div class="invalid-feedback">
            Valid last name is required.
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6 mb-3">
        <label for="oib">OIB</label>
        <input type="text" class="form-control" id="oib" placeholder="" value="" required="">
        <div class="invalid-feedback">
            Valid OIB is required.
        </div>
    </div>
    <div class="col-md-6 mb-3">
        <label for="birthDate">Datum rođenja</label>
        <input type="text" class="form-control" id="birthDate" placeholder="" value="" required="">
        <div class="invalid-feedback">
            Valid birth date is required.
        </div>
    </div>

</div>

<div class="row">
    <div class="col-md-6 mb-3">
        <label for="address">Adresa</label>
        <input type="text" class="form-control" id="address" placeholder="" value="@contentItem.ContentItemId" required="">
        <div class="invalid-feedback">
            Valid address is required.
        </div>
    </div>
    <div class="col-md-6 mb-3">
        <label for="county">Grad/Općina</label>
        <input type="text" class="form-control" id="county" placeholder="" value="" required="">
        <div class="invalid-feedback">
            Valid Grad/Općina is required.
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6 mb-3">
        <label for="firstName">Ime</label>
        <input type="text" class="form-control" id="firstName" placeholder="" value="@contentItem.ContentItemId" required="">
        <div class="invalid-feedback">
            Valid first name is required.
        </div>
    </div>
    <div class="col-md-6 mb-3">
        <label for="lastName">Prezime</label>
        <input type="text" class="form-control" id="lastName" placeholder="" value="" required="">
        <div class="invalid-feedback">
            Valid last name is required.
        </div>
    </div>
</div>


    <div class="form-group">
        <label for="first_name"><b>Ime</b><span class="required-span">*</span></label>
        <input class="form-control" type="text" name="first_name" id="first_name" value="@contentItem.ContentItemId">
    </div>

    <div class="form-group">
        <label for="oib"><b>OIB</b></label>
        <input class="form-control" type="text" name="oib" id="oib" value="95965878556">
    </div>

    <div class="form-group">
        <label for="address"><b>Adresa</b><span class="required-span">*</span></label>
        <input class="form-control" type="text" name="address" id="address" value="">
    </div>
    <div class="form-group">
        <label for="county"><b>Županija</b><span class="required-span">*</span></label>
    </div>
    <div class="form-group">
        <label for="email"><b>E-mail</b><span class="required-span">*</span></label>
        <input class="form-control" type="text" name="email" id="email" value="">
    </div>
    <div class="form-group">
        <label for="m_type"><b>Želite li aktivno doprinijeti radu udruge?</b><span class="required-span">*</span></label>
        <select class="custom-select" id="m_type" name="m_type">
            <option value="0">--- Select ---</option>
            <option value="1">Aktivan</option>
            <option value="2">Neaktivan</option>
        </select>
    </div>
    <div class="form-group">
        <label for="lozinka"><b>Lozinka</b><span class="required-span">*</span></label>
        <input class="form-control" type="password" name="lozinka" id="lozinka" value="">
    </div>
    <div class="form-group">
        <label for="lozinka_repeat"><b>Ponovi lozinku</b><span class="required-span">*</span></label>
        <input class="form-control" type="password" name="lozinka_repeat" id="lozinka_repeat" value="">
    </div>




    <div class="form-group">
        <label for="city"><b>Grad/Općina</b><span class="required-span">*</span></label>
        <input class="form-control" type="text" name="city" id="city" value="">
    </div>

    <div class="form-group">
        <label for="phone"><b>Telefon</b><span class="required-span">*</span></label>
        <input class="form-control" type="text" name="phone" id="phone" value="">
    </div>
    <div class="form-group">
        <label for="member_sex"><b>Spol</b><span class="required-span">*</span></label>
        <select class="custom-select" id="member_sex" name="member_sex">
            <option value="0">--- Select ---</option>
            <option value="1">Muško</option>
            <option value="2">Žensko</option>
        </select>
    </div>
    <div class="form-group">
        <label for="contribution"><b>Opišite Vaše vještine/znanja</b></label>
        <textarea class="form-control" rows="5" id="contribution" name="contribution" style="height: 124px;"></textarea>
    </div>

    <input type="hidden" name="type" id="type" value="">


@if (Model.Content != null)
{
    <div class="col primary">@await DisplayAsync(Model.Content)</div>
}