<!DOCTYPE html>
<html lang="@Orchard.CultureName()">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@RenderTitleSegments(Site.SiteName, "before")</title>
    <link type="image/x-icon" rel="shortcut icon" href="~/UgpTheme/assets/favicon.ico">
    <style asp-name="font-awesome" version="5" at="Head"></style>
    <style asp-name="ugptheme-fonts"></style>
    <style asp-name="ugptheme"></style>
    <style asp-name="ugptheme-bootstrap-oc" version="1"></style>

    <resources type="Meta" />
    <resources type="HeadLink" />
    <resources type="Stylesheet" />
    @await RenderSectionAsync("HeadMeta", required: false)
</head>
<body dir="@Orchard.CultureDir()">
    @await RenderSectionAsync("Header", required: false)
    <div class="container px-4 px-lg-5 mb-4">
                @await RenderBodyAsync()
    </div>
</body>
</html>
