@using Members.Base


<form style="width:100%" method="post" action="@Url.Page("/CreateNew",new { contentType = "Pledge", area = "Members" })">
	@await DisplayAsync(await Orchard.EditorAsync("Pledge"))
	<button type="submit" class="btn publish btn-success">Generiraj kod</button>
	@Html.AntiForgeryToken()
</form>