@using Members.Base
@using Members.Payments
@using Members.Utils
@using OrchardCore.ContentManagement

@{
    var context = (ContentItem)Model.ContentItem;
    var formData = context.As<PledgeForm>();
    Action<ContentItem> setTaxonomy = (item) =>
    {
        var pledge = item.Alter<Pledge>(pledge =>
        {
            pledge.InitFields();
            pledge.Variant.TaxonomyContentItemId = formData?.PledgeVariant.GetId() ?? string.Empty;
        });
    };
}

<form style="width:100%" method="post" action="@Url.Page("/CreateNew",new { contentType = "Pledge", area = "Members" })">
    @await DisplayAsync(await Orchard.EditorAsync("Pledge", onContentInit: setTaxonomy))
    <button type="submit" class="btn publish btn-success">Generiraj kod</button>
    @Html.AntiForgeryToken()
</form>