@model MemberViewModel
@using OrchardCore.ContentManagement;
@using Members.ViewModels;
@inject IContentManager ContentManager

@{
    var pageTitle = T["Member"];
}


<h1>@RenderTitleSegments(pageTitle)</h1>
<form asp-action="List" asp-controller="Admin" method="post" id="items-form" autocomplete="off">
    <ul class="list-group with-checkbox">
        @if (Model.ContentItem > 0)
        {
                <li class="list-group-item">asdasdsa
                </li>
        }
        else
        {
            <li class="list-group-item">
                <div class="alert alert-info">
                    @T["No results found."]
                </div>
            </li>
        }
    </ul>

</form>