@page
@model Members.Pages.MyCompanyModel
@using OrchardCore.ContentManagement
@using OrchardCore.ContentManagement.Metadata
@using OrchardCore.Mvc.Utilities

@inject IContentDefinitionManager ContentDefinitionManager


@{ Html.RenderPartial("_Header", "My company"); }


@await RenderSectionAsync("Messages", required: false)

<div asp-validation-summary="All" class="text-danger"></div>

    <form method="post" enctype="multipart/form-data">
        <div asp-validation-summary="All" class="text-danger"></div>

        @await DisplayAsync(Model.Shape)

        <button type="submit" name="MyCompanySubmit" class="btn btn-success publish" value="Submit">Spremi promjene</button>

    </form>