@page "{companyId}"
@model Members.Pages.MyCompanyModel
@using OrchardCore.ContentManagement
@using OrchardCore.ContentManagement.Metadata
@using OrchardCore.Mvc.Utilities

@inject IContentDefinitionManager ContentDefinitionManager

@{ Html.RenderPartial("_Header", Model.ContentItem.DisplayText); }

@await RenderSectionAsync("Messages", required: false)



<form method="post" enctype="multipart/form-data">

  <a asp-page="./MyProfile" class="col-xs-2"><i class="far fa-arrow-alt-circle-left"></i>&nbsp;@T["Back To Profile"]</a>
	<div asp-validation-summary="All" class="text-danger"></div>
	@if (!Model.ContentItem.Published)
	{
		<span class="badge badge-primary bg-secondary badge-pill">Čeka provjeru</span>
	}
	@await DisplayAsync(Model.Shape)

	<button type="submit" class="btn btn-success publish mt-2">@T["Save Changes"]</button> 	<a href="@Model.DocLink" class="btn btn-warning text-decoration-none mt-2">@T["Download Membership Document"]</a>
</form>