@page "{companyId}"
@model Members.Pages.MyCompanyModel
@using OrchardCore.ContentManagement
@using OrchardCore.ContentManagement.Metadata
@using OrchardCore.Mvc.Utilities

@inject IContentDefinitionManager ContentDefinitionManager

@{ Html.RenderPartial("_Header", T["My company"].Value); }

@await RenderSectionAsync("Messages", required: false)

<form method="post" enctype="multipart/form-data">
	<div asp-validation-summary="All" class="text-danger"></div>
	@if (!Model.ContentItem.Published)
	{
		<span class="badge badge-primary bg-secondary badge-pill">Čeka provjeru</span>
	}
	@await DisplayAsync(Model.Shape)

	<button type="submit" class="btn btn-success publish mt-2">@T["Save Changes"]</button>
</form>