@page
@model Members.Pages.MyDocumentsModel
@using OrchardCore.ContentManagement.Metadata

@inject IContentDefinitionManager ContentDefinitionManager

@{
	Html.RenderPartial("_Header", T["My Documents"].Value);
}

@await RenderSectionAsync("Messages", required: false)

@foreach (var lnk in Model.DocLinks)
{
	<h3>@lnk.Key</h3>

	<div class="list-group-flush">
		@foreach (var doc in lnk.Value)
		{
			<div class="list-group-item d-flex justify-content-between align-items-center">
				@doc.Item1
				<a asp-page="./Print" asp-page-handler="Download" asp-route-fileName="Member-@doc.Item2" asp-route-contentId="@doc.Item2" class="badge badge-primary bg-secondary badge-pill">Download</a>
			</div>
		}
	</div>
}
<h3>@T["Donations"]</h3>
<a asp-page="./MyDonations">Click here</a>