@model OrchardCore.Users.ViewModels.ForgotPasswordViewModel

@{
    ViewLayout = "Layout__Login";
}

@{ Html.RenderPartial("_Header", @T["Forgot password?"].Value); }

<h4>@T["Please fill your email to reset your password."]</h4>
<hr />
<div class="row">
    <div class="col-md-8">
        <form asp-controller="ResetPassword" asp-action="ForgotPassword" method="post" class="form-horizontal">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-floating">
                <input asp-for="Email" class="form-control content-preview-text" autofocus tabindex="1" placeholder="smth" />
                <label asp-for="Email">@T["Email"]</label>
            </div>

            @await RenderSectionAsync("AfterForgotPassword", required: false)
            <button type="submit" class="btn btn-primary mt-4" tabindex="2" >@T["Submit"]</button>
        </form>
    </div>
</div> 
