@{ ViewLayout = "Layout__Login"; }

@{ Html.RenderPartial("_Header", @T["Forgot password?"].Value); }

<div class="row">
    <div class="col-md-8">
        <p>@T["Please check your email to reset your password."]</p>
    </div>
</div>