@using Microsoft.AspNetCore.Identity
@using OrchardCore.Entities
@using OrchardCore.Settings
@using OrchardCore.Users
@using OrchardCore.Users.Models
@inject ISiteService SiteService
@inject SignInManager<IUser> SignInManager

@{
    var allowChangeEmail = (await SiteService.GetSiteSettingsAsync()).As<ChangeEmailSettings>().AllowChangeEmail;
    var externalAuthenticationSchemes = await SignInManager.GetExternalAuthenticationSchemesAsync();
}
<ul class="navbar-nav">
    @if (User.Identity.IsAuthenticated)
    {
    <li class="nav-item ">
        <a class="nav-link px-lg-3 py-3 py-lg-4" href="/members/portal">@T["Portal"]</a>
    </li>
    <li class="nav-item">
        <a class="nav-link px-lg-3 py-3 py-lg-4" href="/members/logout" ><i class="fa fa-sign-out-alt fa-fw"></i> @T["Log Off"]</a>
    </li>
    }
    else
    {
    <li class="nav-item">
        <a class="nav-link px-lg-3 py-3 py-lg-4" href="/members/portal">@T["Log In"]</a>
    </li>
    }
</ul>







