@{ ViewLayout = "Layout__Login"; }

@{ Html.RenderPartial("_Header", @T["Reset Password"].Value); }

<div class="row">
    <div class="col-md-8">
        @T["Your password has been reset."]
        <hr />
        <a asp-route-area="OrchardCore.Users" asp-controller="Account" asp-action="Login">@T["Click here to log in"]</a>
    </div>
</div>
