//
// Posts
//

.section-heading {
	font-size: 2.25rem;
	font-weight: 700;
	margin-top: 3.75rem;
}

.caption {
	font-size: $font-size-sm;
	font-style: italic;
	display: block;
	margin: 0;
	padding: 0.625rem;
	text-align: center;
}

// Styling for post previews on the blog homepage

.post-preview {
	> a {
		color: $gray-900;

		&:focus,
		&:hover {
			text-decoration: none;
			color: $primary;
		}

		> .post-title {
			font-size: 1.875rem;
			margin-top: 1.875rem;
			margin-bottom: 0.625rem;
		}

		> .post-subtitle {
			font-weight: 300;
			margin-bottom: 0.625rem;
		}
	}

	> .post-meta {
		font-size: 1.125rem;
		font-style: italic;
		margin-top: 0;
		color: $gray-600;

		> a {
			text-decoration: none;
		}
	}
}

.top-features h2 {
	font-weight: 700;
	color: #448083;
	text-align: center;
}

.top-features p {
	text-align: center;
	font-size: 16px;
	color: #448083;
	font-weight: 600;
	margin-top: 0px;
}
.carousel{
	width:100%;
}
.carousel-item {
	width: 100%;

	img{
		width:100%;
	}
}
