@using OrchardCore.ContentManagement

@model dynamic
<a href="/Members/Offers?catId=@Model.TermContentItem.ContentItemId">
    <span class="badge bg-primary rounded-pill">@Model.TermContentItem.DisplayText</span>
</a>