@using Members.PartFieldSettings
@model OrchardCore.ContentFields.ViewModels.EditTextFieldViewModel


@{
    var settings = Model.PartFieldDefinition.GetSettings<TextFieldSettings>();
    var culture = await Orchard.GetContentCultureAsync(Model.Field.ContentItem);
    var settingsExt = (FieldSettingsExt)(Model as IShape).Properties["FieldSettingsExt"];
}

<div class="form-floating">
    <input asp-for="Text" asp-is-disabled="settingsExt.Disabled" placeholder="smth" class="form-control content-preview-text" dir="@culture.GetLanguageDirection()" />
    @if (!String.IsNullOrEmpty(settings.Hint))
    {
        <span class="hint">@settings.Hint</span>
    }
    <label asp-for="Text">@settingsExt.Label</label>
</div>